#page-profile {
    width: 100vw;
    height: 100vh;
    overflow: auto;

    display: flex;
    justify-content: center;
    align-items: center;

    color: var(--color-text-in-primary);
    background: var(--color-primary);
}

#page-profile-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

li {
    list-style: none;
    cursor: pointer;
    transition: all ease-in-out 0.2s;
}

li:hover{
    color: white;
}

.sidebar-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 3.2rem 0;
}


.sidebar {
    height: 380px;
    padding: 15px;
    width: 100%;
    display: flex;
    margin: 0 auto;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: #ae00ff;
    border-radius: 5px;
}

input {
    height: 3.6rem;
    width: 90%;
    margin-left: 0.8rem;
    border-radius: 0.8rem;
    background: var(--color-input-background);
    border: 1px solid var(--color-line-in-white);
    outline: 0;
    padding: 0 1.6rem;
    font: 1.6rem Archivo;
}

.profile-content-header {
    display: flex;
    margin-bottom: 10px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.avatar-header {
    align-items: center;
}

.avatar {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid white;
    width: 93px;
    height: 93px;
    border-radius: 93px;
}

.profile-img {
    width: 89px;
    height: 89px;
    border-radius: 89px;
}

.profile-box-1 {
    width: auto;
    padding: 0px;
    background-color:#ae00ff;
    border-radius: 6px;
    height: auto;
    margin: 0.7rem 0.7rem;
}

.profile-header {
    background-color: #3c0e51;
    display: flex;
    height: 50px;
    border-radius: 5px 5px 0px 0px;
    align-items: center;
    justify-content: center;
}

.profile-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    color: white;
}

.profile-footer {
    background-color: #3c0e51;
    width: 100%;
    left: 0;
    bottom: 0;
    height: 50px;
    border-radius: 0px 0px 5px 5px;
}

.chip-content{ 
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-bottom: 30px;
}

.divider { 
    background-color: rgb(187, 187, 187);
    width: 90%;
    margin-top: auto;
    margin-bottom: auto;
    height: 0.5px;
}

.page-profile-header {
    display: flex;
    top: 0;
    height: 45px;
    width: 100%;
    position: fixed;
    flex-direction: column;
    background-color: var(--color-primary);
}

.page-profile-header .top-bar-container {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--color-text-in-primary);
    padding: 1.6rem 0;
}

.page-profile-header .top-bar-container a {
    cursor: pointer;
    height: 3.2rem;
    transition: opacity 0.2s;
}

.loginBtn {
    margin-left: 5px;
    cursor: pointer;
    font-size: 14px;
    height: 3.2rem;
    transition: opacity 0.2s;
    color: #ae00ff;
    font-weight: 900;
}

.loginBtn:hover {
    opacity: 0.6;
}

.page-profile-header .top-bar-container a:hover {
    opacity: 0.6;
}

.page-profile-header .top-bar-container .loginImg {
    margin-left: 5px;
    height: 3rem;
}

.page-profile-header .top-bar-container .loginContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-container img {
    height: 10rem;
}

.hero-image {
    width: 100%;
}

.logo-container {
    text-align: center;
    margin-bottom: 3.2rem;
}

.logo-container h2 {
    font-weight: 500;
    font-size: 2.4rem;
    line-height: 4.6rem;
    margin-top: 0.8rem;
}

.profile-box-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 1.2rem;
}

@media (min-width: 1100px) {
    #page-profile-content {
        max-width: 1100px;
        justify-content: space-between;
        display: flex;
    }

    .page-profile-header {
        height: 40px;
    }

    .profile-box-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 0 1.2rem;
    }

    .profile-box-1 {
        width: 380px;
        padding: 0px;
        background-color:#ae00ff;
        border-radius: 6px;
        height: auto;
        margin: 1.2rem 1.2rem;
    }

    .page-profile-header .top-bar-container {
        max-width: 1100px;
    }

    .logo-container {
        grid-area: logo;
        align-self: center;
        text-align: left;
        margin: 0;
    }

    .logo-container h2 {
        text-align: initial;
        font-size: 3.6rem
    }

    .logo-container img {
        height: 100%;
    }

    .hero-image {
        grid-area: hero;
        justify-self: end;
    }
}