.secret-item {
    background: var(--color-primary-darker);
    border: 1px solid var(--color-primary-darker);
    border-radius: 0.8rem;
    width: 100%;
    margin-top: 2.4rem;
}

.content {
    max-height: 15rem;
    color: white;
    overflow: auto;
    overflow-wrap: break-word;
}

.secret-item header {
    padding: 3.2rem 2rem;   
    display: flex;
    background-color: var(--color-primary-darkeer);
    border-radius: 7px 7px 0px 0px;
    align-items: center;
    color: #c4c4c4;
}

.commentBtn{
    font-size: 20px;
    color: white;
    transition: all 0.3s;
    cursor: pointer;
}
.likeBtn{
    font-size: 20px;
    color: white;
    transition: all 0.3s;
    cursor: pointer;
}
.likeBtn:hover{
    color: red;
}

.secret-content {
    padding: 0 3.2rem;
}

.secret-item header img {
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
}

.secret-item header div {
    margin-left: 2.4rem;
}

.secret-item header div strong {
    font: 700 2.4rem Archivo;
    display: block;
    color: white;
}

.secret-item header div span {
    font-size: 1.6rem;
    display: block;
    margin-top: 0.4rem;
}

.secret-item>p {
    padding: 0 2rem;
    font-size: 1.6rem;
    line-height: 2.8rem;
}

.secret-item footer {
    padding: 3.2rem 2rem;
    background: var(--color-primary-darkeer);
    border-top: 1px solid var(--color-line-in-white);
    margin-top: 3.2rem;
    display: flex;
    align-items: center;
    color: white;
    justify-content: space-around;
    border-radius: 0px 0px 7px 7px;
}

.secret-item footer p strong {
    color: white;
    font-size: 1.6rem;
    display: block;
}


.secret-item footer a:hover {
    background: var(--color-secundary-dark);
}

@media (min-width: 700px) {
    ::-webkit-scrollbar {
        width: 2px;
        height: 2px;
    }

    ::-webkit-scrollbar-button {
        width: 0px;
        height: 0px;
    }

    ::-webkit-scrollbar-thumb {
        background: #e1e1e1;
        border: 0px none #ffffff;
        border-radius: 50px;
    }

    ::-webkit-scrollbar-thumb:hover {
        background: #ffffff;
    }

    ::-webkit-scrollbar-thumb:active {
        background: #000000;
    }

    ::-webkit-scrollbar-track {
        background: #666666;
        border: 0px none #ffffff;
        border-radius: 50px;
    }

    ::-webkit-scrollbar-track:hover {
        background: #666666;
    }

    ::-webkit-scrollbar-track:active {
        background: #333333;
    }

    ::-webkit-scrollbar-corner {
        background: transparent;
    }

    .secret-item {
        margin-right: 20px;
        width: 500px;
        max-width: 500px;
    }

    .secret-item header,
    .secret-item footer {
        background-color: var(--color-primary-darkeer);
        padding: 3.2rem;
    }

    .secret-content {
        padding: 0 3.2rem;
    }

    .content {
        max-height: 15rem;
        height: 15rem;
        overflow: auto;
    }

    .secret-item footer p strong {
        display: initial;
        margin-left: 1.6rem;
    }

    .secret-item footer a {
        width: 24.5rem;
        font-size: 1.6rem;
        justify-content: center;
    }

    .secret-item footer a img {
        margin-right: 1.6rem;
    }
}