#page-tell-secret {
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}

#tell-secret {
    margin-top: 3.2rem;
}

.secret-box-container {
    padding-bottom: 20px;
}

#tell-secret label {
    color: var(--color-text-in-primary);
}

.label-font {
    font: 1.4rem Archivo;
}

.color-picker {
    width: 310px !important;
    margin-bottom: 1rem;
    margin-top: 1.4rem;
}

#tell-secret button {
    width: 50%;
    height: 5.6rem;
    background: var(--color-secundary);
    color: var(--color-button-text);
    border: 0;
    border-radius: 0.8rem;
    cursor: pointer;
    font: 700 1.6rem Archivo;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    transition: background-color 0.2s;
    margin-top: 3.2rem;
}

#tell-secret button:hover {
    background: var(--color-secundary-dark);
}

#page-tell-secret main {
    margin: 3.2rem auto;
    max-width: 740px;
    width: 90%;
}

@media (min-width: 700px) {
    .secret-sub-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    #page-tell-secret {
        max-width: 100%;
    }
    #tell-secret {
        display: column;
        grid-template-columns: repeat(4, 1fr);
        column-gap: 16px;
    }
    #tell-secret .input-block+.input-block,
    #tell-secret .select-block+.select-block {
        margin-top: 0;
    }
    .page-tell-secret main {
        padding: 3.2rem 0;
        margin: 0 auto;
    }
}