#page-secret-archive {
    width: 100vw;
    height: 100vh;
}

#secret-card {
    background-color: var(--color-primary-dark);
}

#page-secret-archive .page-header .header-content {
    margin-bottom: 4.2rem;
}

#page-secret-archive main {
    width: 100%;
    border-radius: 0.8rem;
    padding: 0.5rem 1rem;
    overflow: hidden;
}

#page-secret-archive main fieldset {
    border: 0;
    padding: 0 2.4rem;
}


@media (min-width: 700px) {
    #page-secret-archive {
        max-width: 100vw;
    }

    #page-secret-archive .page-header .header-content {
        margin-bottom: 0;
    }

    #page-secret-archive main {
        display: flex;
        width: 100%;
        flex-direction: row;
        justify-content: flex-start;
    }

    #page-secret-archive main fieldset {
        padding: 0 6.4rem;
    }

    #page-secret-archive main .schedule-item {
        display: grid;
        grid-template-columns: 2fr 1fr 1fr;
        column-gap: 1.6rem;
    }

    #page-secret-archive main .schedule-item .input-block {
        margin-top: 0 !important;
    }

    #page-secret-archive main footer {
        padding: 4.0rem 6.4rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    #page-secret-archive main footer p {
        justify-content: space-between;
    }

    #page-secret-archive main footer button {
        width: 20rem;
        margin-top: 0;
    }
}